/*Reset to move content to the top*/
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
body {
	/*background-color: #deecff;*/

}
h1 {
  color: "black";
  font-family: arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-top: 0px;
  text-align:center;
  line-height: 20px;
  margin-bottom: 15px;

}
p {
  color: red;
}
div{
	margin-left: 8%;
	margin-right: 8%;
	font: Garamond;
	font-size: 16px;
}
div.section_head{
	font-weight: bold;
	font-size: 24px;
}
div.abstract{

}
div.text{

}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
}
img.bracket{
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
 width: 80%;
}
div.list {
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
}
div.caption{
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
}
div.disclaimer{
	color: grey;
	font-size: 14px;
}
span.ref{
	position: relative;
}
span.refbody {
   
    font-size: .9em;
    line-height: 1.1;
    display: block;
    min-width: 20em;
    position: absolute;
    left: 25px;
    bottom: 5px;
    border: 1px solid;
    padding: 5px;
    background-color: #fff;
    word-wrap: break-word;
    z-index: 9999;
    overflow: auto;
}
span.refnum {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
div.art {
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
	margin-right: -10px;
	width: 100%;

}
ul {
  display: table;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px
}
ol {
  display: table;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px
}
div.inp{
	
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;    
}
table{
	padding-top: 5px;
	padding-bottom: 5px;
}
iframe.frame{
	width: 90%;
	height: 475px;
	display: block;
  	margin-left: 10%;
  	margin-right: 10%;
  	margin-top: 10px;
}
br {
            display: block; /* makes it have a width */
            content: ""; /* clears default height */
            margin-top: 10px; /* change this to whatever height you want it */
}

ul.left{
  margin-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px
}

img.tbl{
  width: 250px;
}

ul.contact {
  list-style-top: none;
  align-content: center;
  text-align: center;
}
li.contact {
display: inline-block;
}

ul.navbar {
  
  display: block;
  padding-top: 0px;
  padding-bottom: 0px

  vertical-align: top;
  list-style-type: none;
  /*margin-left: -5.55%;*/
  /*margin-right: -5.55%;*/
  margin-top: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #00008B;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  justify-content: space-between;
  /*border: 1px solid transparent;*/
}

li.navbar-element {
  display: inline-block;
  vertical-align:top;
  float: left;
  font-family: sans-serif;
}

.right-side {
  float: right;
}

li.navbar-element:first-child{
  margin-left: 10%;
}

/*li.right-side{*/
  /*margin-right: 10%;*/
/*}*/
li.right-side:last-child{
  margin-right: 10%;
  font-family: sans-serif;
}

li.navbar-element a, .right-side a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navbar-element a:hover:not(.active), .right-side a:hover:not(.active) {
  background-color: #6495ED;
}

.active {
  background-color: #00008B;
}